@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

body {
  @apply bg-bodybg text-black;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-basegray/40 rounded-3xl;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.modal-open {
  overflow: hidden !important;
}
